<%= simple_form_for @biography, url: url, method: method, html: { class: 'form-horizontal' } do |f| %>
    <br>

    <% if @biography.errors.any? %>
        <div class="panel panel-warning">
            <div class="panel-heading"><%= pluralize(@biography.errors.count, "error") %> prohibited this article from being saved</div>
            <div class="panel-body">
                <ul>
                <% @biography.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
                </ul>
            </div>
        </div>
    <% end %>

    <div class="row">
        <%= f.label :title, 'Subject name',
                class: 'col-sm-2 small control-label' %>
        <%= f.input_field :title,
                placeholder: 'e.g. ABBOTT, JACK (required)',
                class: 'col-sm-7 form-control' %>
        <%= f.label :featured, 'Featured',
                class: 'col-sm-2 small control-label' %>
        <%= f.input_field :featured,
                class: 'col-sm-1 small form-control' %>
    </div>
    <div class="row">
        <%= f.label :lifespan, 'Lifespan',
                class: 'col-sm-2 small control-label' %>
        <%= f.input_field :lifespan,
                placeholder: "e.g. 1921-1987",
                class: 'col-sm-3 form-control' %>
        <%= f.label :slug, 'Slug',
                    class: 'col-sm-2 small control-label' %>
        <%= f.input_field :slug,
                placeholder: "e.g. abbot_jack (required)",
                class: 'col-sm-5 form-control' %>
    </div>
    <hr>
    <div class="row">
        <%= f.label :primary_country, '1st Country',
                class: 'col-sm-2 small control-label' %>
        <%= f.collection_select :primary_country_id, Country.all, :id, :name, {prompt:'Select country'},
                { class: 'col-sm-2 form-control' } %>
        <%= f.label :secondary_country, '2nd Country',
                class: 'col-sm-2 small control-label' %>
        <%= f.collection_select :secondary_country_id, Country.all, :id, :name, {prompt:'Optional'},
                { class: 'col-sm-2 form-control' } %>
        <div class="col-sm-1"></div>
        <%= f.label :south_georgia, 'S. Georgia',
                class: 'col-sm-2 small control-label' %>
        <%= f.input_field :south_georgia,
                class: 'col-sm-1 small form-control' %>
    </div>
    <hr>
    <div class="row">
    <%= f.label :authors, 'Authors',
            class: 'col-sm-2 small control-label' %>
    <%= f.input_field :authors,
            placeholder: 'e.g. Andrew David & Carlos Novi',
            class: 'col-sm-10 form-control' %>
    </div>
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-4 text-right"><small>Attributed author</small></div>
        <div class="col-sm-1"><small>Position</small></div>
    </div>
    <div id="nested-authors">
        <%= f.simple_fields_for :biography_authors do |biography_author| %>
            <%= render 'biography_author_fields', f: biography_author %>
        <% end %>

    </div>
    <%= link_to_add_association 'Add author', f, :biography_authors,
            class:'small pull-right',
            data:{"association-insertion-method": 'after',
                  "association-insertion-node": '#nested-authors'} %>
    <hr>
    <%= f.input :body, as: :summernote,
            required: false %>
            <hr>
    <%= f.input :external_links, as: :summernote,
            required: false %>
    <hr>
    <%= f.input :references, as: :summernote,
            required: false %>
    <hr>
    <%= f.input :revisions %>
    <div class="form-actions">
        <%= link_to "Back", biographies_path, class: "btn btn-outline-dark", role:"button" %>
        <%= f.button :submit, class: "btn btn-outline-dark" %>
    </div>
<% end %>
