<%= form_tag biographies_path, :method => 'get' do %>
    <!--https://bootsnipp.com/snippets/featured/admin-sidebar-menu-bs30-->
    <!-- It can be fixed with bootstrap affix http://getbootstrap.com/javascript/#affix-->
    <div id="sidebar" class="well sidebar-nav">
        <ul class="nav nav-pills nav-stacked">
            <li><%= link_to "Home", static_content_path("home") %></li>
            <li><%= link_to "Biographies", biographies_path %></li>
            <li><%= link_to "About", static_content_path("about") %></li>
            <li><%= link_to "Contacts", static_content_path("contacts") %></li>
        </ul>
    </div>
    <div class="input-group">
        <%= text_field_tag 'search', params[:search], placeholder: "Search biographies", class: "form-control" %>
        <span class="input-group-btn">
           <button class="btn btn-default" type="submit">
             <span class="glyphicon glyphicon-search"></span>
           </button>
         </span>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var url = window.location;
            $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
            $('ul.nav a').filter(function() {
                 return this.href == url;
            }).parent().addClass('active');
        });
    </script>
<% end %>
