<h3>
  <strong>Biographies</strong>
  <% if user_signed_in? %>
      <%= link_to "New", new_biography_path, class: "btn btn-default btn-xs", role:"button" %>
  <% end %>
</h3>
<table id="index" class="table">
    <% if @biographies.each do |biography| %>
    <tr>
        <td>
            <%= link_to biography.title, biography_path(biography.slug) %>
            <%= biography.lifespan %>
            <% if user_signed_in? %>
                <%= link_to "Edit", edit_biography_path(biography), class: "btn btn-default btn-xs", role:"button" %>
                <%= link_to "Delete", biography_path(biography),
                                        class: "btn btn-default btn-xs",
                                        role:"button",
                                        data: {:confirm => 'Are you sure?'},
                                        method: :DELETE %>

            <% end %>

            <br>
            <span class="small">
                <% if biography.primary_country.present? %>
                    <%= tag.em biography.primary_country.name + " " %>
                    <% if biography.secondary_country.present? %>
                        (also <%= @biography.secondary_country.name %>)
                    <% end %>
                <% end %>
                <% if biography.south_georgia %>
                    <%= tag.button "SG", class:"btn btn-default btn-xs", data:{toggle:"popover", content:"South Georgia", "html":"true"} %>
                <% end %>
            </span>
            <%= truncate_html(biography.body, :length => 200 ) %>
        </td>
    </tr>
    <% end.empty? %>
    <tr>
        <td>No results</td>
    </tr>
  <% end %>
</table>

<%= paginate @biographies %>
