<h3>
  <strong>Biographies</strong>
  <%= render partial: 'biographies/search' %>
  <% if user_signed_in? %>
      <%= link_to "New", new_biography_path, class: "btn btn-success btn-sm float-right", role:"button" %>
  <% end %>
</h3>
<table id="index" class="table">
    <% if @biographies.each do |biography| %>
    <tr>
        <td>
            <%= link_to biography.title, biography_path(biography.slug) %>
            <%= biography.lifespan %>
            <% if user_signed_in? %>
                <div class="btn-group float-right">
                    <%= link_to "Edit", edit_biography_path(biography.slug), class: "btn btn-outline-dark btn-sm", role:"button" %>
                    <%= link_to "Delete", biography_path(biography.slug),
                                            class: "btn btn-danger btn-sm",
                                            role:"button",
                                            data: {:confirm => 'Are you sure?'},
                                            method: :DELETE %>
                </div>
            <% end %>

            <br>
            <span class="small">
                <% if biography.primary_country.present? %>
                    <em>
                    <%= biography.primary_country.name + " " %>
                    <% if biography.secondary_country.present? %>
                        (also <%= biography.secondary_country.name %>)
                    <% end %>
                </em>
                <% end %>
                <% if biography.south_georgia %>
                    <%= tag.button "SG", class:"btn btn-outline-dark btn-sm ml-3", data:{toggle:"popover", content:"South Georgia", "html":"true"} %>
                <% end %>
            </span>
            <%= truncate_html(biography.body, :length => 200 ) %>
        </td>
    </tr>
    <% end.empty? %>
    <tr>
        <td>No results</td>
    </tr>
  <% end %>
</table>

<%= paginate @biographies %>
