<h3>
  <strong>Biographies</strong>
  <% if user_signed_in? %>
      <%= link_to "New", new_biography_path, class: "btn btn-default btn-xs pull-right", role:"button" %>
  <% end %>
</h3>
<table id="index" class="table">
    <% if @biographies.each do |biography| %>
    <tr>
        <td>
            <%= link_to biography.title, biography_path(biography.slug) %> <%= biography.lifespan %>
            <% if user_signed_in? %>
                <%= link_to "Edit", edit_biography_path(biography), class: "btn btn-default btn-xs pull-right", role:"button" %>
                <%= link_to "Delete", biography_path(biography),
                                        class: "btn btn-default btn-xs pull-right",
                                        role:"button",
                                        data: {:confirm => 'Are you sure?'},
                                        method: :DELETE %>

            <% end %>
            <%= truncate_html(biography.body, :length => 200 ) %>
        </td>
    </tr>
    <% end.empty? %>
    <tr>
        <td>No results</td>
    </tr>
  <% end %>
</table>

<%= paginate @biographies %>
