<h3>
    <strong><%= @biography.title %></strong>
    <small></small>
</h3>

<% if user_signed_in? %>
    <p>
        <%= link_to "Back", biographies_path, class: "btn btn-outline-dark btn-sm", role:"button" %>
        <%= link_to "Edit", edit_biography_path(@biography.slug), class: "btn btn-outline-dark btn-sm", role:"button" %>
        <%= link_to "Delete", biography_path(@biography.slug), class: "btn btn-danger btn-sm", role:"button" , data: {:confirm => 'Are you sure?'}, method: :DELETE %>
    </p>
<% end %>

<h4>
<%= @biography.lifespan %>
<span class="pull-right">
    <% if @biography.primary_country.present? %>
        <em><small>
            from <%= @biography.primary_country.name + " " %>
            <% if @biography.secondary_country.present? %>
                (also <%= @biography.secondary_country.name %>)
            <% end %>
        </small></em>
    <% end %>
    <% if @biography.south_georgia %>
        <%= tag.button "SG", class:"btn btn-outline-dark btn-sm", data:{toggle:"popover", content:"South Georgia", "html":"true"} %>
    <% end %>
</span>
</h4>
<br>

<%= tag.div @biography.body_with_images.html_safe, class:"biography_body" %>

<% if @biography.authors.present? %>
    <%= tag.div class:"biography_authors_wrapper row-fluid", style:"clear:both;" do%>
        <hr>
        <h4><%= tag.strong("Authors") %></h4>
        <%= tag.div class:"biography_authors ml-3 mb-2" do %>
            <%= @biography.authors %><%= '<button type="button" class="btn btn-outline-dark btn-sm ml-3" data-toggle="modal" data-target="#authors-info">Author Info</button>'.html_safe %>
        <% end %>
    <% end %>
<% end %>

<% if @biography.external_links.present? %>
    <h4><%= tag.strong("External links") %></h4>
    <%= tag.div @biography.external_links.html_safe, class:"biography_external_links ml-3 mb-2" %>
<% end %>

<% if @biography.references.present? %>
    <h4><%= tag.strong("References") %></h4>
    <%= tag.div @biography.references.html_safe, class:"biography_references ml-3 mb-2" %>
<% end %>

<h4><%= tag.strong("Comments") %></h4>
<% if @biography.approved_comments.present? %>
    <% if @biography.approved_comments.each do |comment| %>
        <%= render partial: 'comments/show_inline', locals: { comment: comment } %>
    <% end.empty? %>
    <% end %>
<% end %>
<button id="comment_button" type="button" class="btn btn-outline-dark ml-3 mb-2" data-toggle="modal" data-target="#myModal">Add comment</button>

<% if @biography.revisions.present? %>
    <h4><%= tag.strong("Revisions") %></h4>
    <%= tag.div class:"biography_revsions ml-3" do %>
        <%= simple_format @biography.revisions, class: "small" %>
    <% end %>
<% end %>

<%# Hidden content for modal popups %>

<%= render partial: 'authors', locals: {biography: @biography} %>
<%= render partial: 'comments/new', locals: { biography: @biography } %>
