<h3>
    <strong><%= @biography.title %></strong>
    <small></small>
</h3>

<h4>
<%= @biography.lifespan %>
<span class="pull-right">
        <% if @biography.primary_country.present? %>
        <em><small>
            from <%= @biography.primary_country.name + " " %>
            <% if @biography.secondary_country.present? %>
                (also <%= @biography.secondary_country.name %>)
            <% end %>
        </small></em>
        <% end %>
    <% if @biography.south_georgia %>
        <%= tag.button "SG", class:"btn btn-default btn-xs", data:{toggle:"popover", content:"South Georgia", "html":"true"} %>
    <% end %>
</span>
</h4>
<br>

<%= tag.div @biography.body_with_images.html_safe, class:"biography_body" %>

<% if @biography.authors.present? %>
    <p class="authors"><%= tag.strong("Authors") %></p>
        <%= tag.div class:"biography_authors" do %>
            <%= @biography.authors %><%= '<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#authors-info">Author Info</button>'.html_safe %>
        <% end %>
<% end %>

<% if @biography.external_links.present? %>
    <p class="external_links"><%= tag.strong("External links") %></p>
    <%= tag.div @biography.external_links.html_safe, class:"biography_external_links" %>
<% end %>

<% if @biography.revisions.present? %>
<%= simple_format @biography.revisions, class: "small" %>
<% end %>

<% if user_signed_in? %>
     <p>
        <%= link_to "Back", biographies_path, class: "btn btn-default", role:"button" %>
        <%= link_to "Edit", edit_biography_path, class: "btn btn-default", role:"button" %>
        <%= link_to "Delete", biography_path, class: "btn btn-default", role:"button" , data: {:confirm => 'Are you sure?'}, method: :DELETE %>
    </p>
<% end %>


<%= render partial: 'comments/new', locals: { biography: @biography } %>
<button id="comment_button" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Add comment</button>

<%= render partial: 'authors', locals: {biography: @biography} %>
