<h3>
  <strong><%= @biography.title %></strong>
</h3>
<p>
    <h4><%= @biography.lifespan %></h4>
</p>

<%= tag.div @biography.body_with_images.html_safe, class:"biography_body" %>

<% if @biography.authors.present? %>
    <p class="authors">
        <%= tag.strong("Authors:"); @biography.authors %>
        <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#authors-info">Author Info</button>
    </p>
<% end %>

<% if @biography.revisions.present? %>
<%= simple_format @biography.revisions, class: "small" %>
<% end %>

<% if Rails.env.development? or Rails.env.test? %>
     <p>
        <%= link_to "Back", biographies_path, class: "btn btn-default", role:"button" %>
        <%= link_to "Edit", edit_biography_path, class: "btn btn-default", role:"button" %>
        <%= link_to "Delete", biography_path, class: "btn btn-default", role:"button" , data: {:confirm => 'Are you sure?'}, method: :DELETE %>
    </p>
<% end %>

<!-- Authors modal -->
<div id="authors-info" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Authors</h4>
        </div>
        <div class="modal-body">
        <% @biography.biography_authors.each do |biography_author| %>
            <%= tag.h4( tag.strong(biography_author.author.name) ) %>
            <% if biography_author.author.biography %>
                <%= tag.p( biography_author.author.biography ) %>
            <% end %>
            <%= link_to "more...", "#{authors_path}##{biography_author.author.simple_slug}" %>
        <% end %>
        </div>
        </div>

    </div>
</div>
