<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new comment has been received on the Dictionary of Falklands Biographies
        web site.
    </p>
    <div style="margin-left: 40px;color:DarkBlue">
        <%= tag.h4 @comment.biography.title %>
        <%= tag.h5 "#{@comment.name} / #{@comment.email }"%>
        <%= simple_format @comment.comment %>
    </div>
    <p>
        <%= render partial: 'button', locals: {approve_link: approve_comment_url(:approve_key => @comment.approve_key)} %>
        <%= link_to 'Edit comment', edit_comment_url(@comment), target: "_blank" %>
    </p>
  </body>
</html>
