<h3>
  <strong>Authors</strong>
  <% if user_signed_in? %>
      <%= link_to "New", new_author_path, class: "btn btn-default btn-xs", role:"button" %>
  <% end %>
</h3>
<div id="authors" class="row">
    <% if @authors.each do |author| %>
        <div class="item col-xs-12 col-sm-6">
            <div class="well">
                <%= tag.span(nil, class: "anchor", id: author.simple_slug) %>
                <h4>
                <%= author.name %>
                <% if user_signed_in? %>
                    <%= link_to "Edit", edit_author_path(author), class: "btn btn-default btn-xs", role:"button" %>
                    <%= link_to "Delete", author_path(author), class: "btn btn-default btn-xs", role:"button", data: {:confirm => 'Are you sure?'}, method: :DELETE %>
                <% end %>
            </h4>

                <% if author.biography %>
                    <%= tag.p( author.biography ) %>
                <% end %>
                <hr>
                <small><ul>
                <% author.biographys.each do |biography| %>
                    <li>
                        <%= link_to biography.title, biography_path(biography) %>
                        <% if not biography.has_single_author %>
                            <ul>
                                <i><li>with
                                    <%= tag.span biography.other_author(author).name,
                                        class: "author-link",
                                        data:  { "hash": biography.other_author(author).simple_slug  } %>
                                </li></i>
                            </ul>
                        <% end %>
                    </li>
                <% end %>
                </ul></small>
            </div>
        </div>
    <% end.empty? %>
        <div class="item">
            No authors
        </div>
    <% end %>
</div>
