<%= simple_form_for @static_content, url: url, method: method do |f| %>
  <%= f.input :title %>
  <%= f.input :body, as: :summernote %>
  <%= f.input :slug %>

    <div class="form-actions">
      <%= link_to "Back", static_content_path(@static_content), class: "btn btn-default", role:"button" %>
      <%= f.button :submit %>
     </div>
<% end %>
