<% content_for :home do %>

    <section class="jumbotron d-flex justify-content-center align-items-center" style="height:500px;">
        <div class="container d-inline-block text-center shadow" style="width:auto;height:auto;">
            <h1 class="jumbotron-heading">The Dictionary of Falklands Biography</h1>
            <p class="jumbotron-sub-heading h3">including South Georgia</p>
        </div>
    </section>

    <div class="container">
        <p class="h5 text-center my-5">The Dictionary of Falklands Biography describes people concerned with the history of the Falkland Islands and South Georgia.</>
        <%= render partial: 'biographies/search' %>
        <hr>
    </div>

    <!-- Render featured biographies -->
    <% if Biography.where(featured: true).count >= 6  %>
    <div id="featured" class="container-md px-5">
        <p class="h4 text-center mb-5"><strong>Featured Biographies</strong></p>
        
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

            <div class="col mb-4">
                <div class="card h-100 mx-auto">
                <%= render partial: 'biographies/featured', locals: {biography: Biography.where(featured: true)[0] } %>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 mx-auto">
                <%= render partial: 'biographies/featured', locals: {biography: Biography.where(featured: true)[1] } %>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 mx-auto">
                <%= render partial: 'biographies/featured', locals: {biography: Biography.where(featured: true)[2] } %>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 mx-auto">
                    <%= render partial: 'biographies/featured', locals: {biography: Biography.where(featured: true)[3] } %>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card  h-100 mx-auto">
                    <%= render partial: 'biographies/featured', locals: {biography: Biography.where(featured: true)[4] } %>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 mx-auto">
                    <%= render partial: 'biographies/featured', locals: {biography: Biography.where(featured: true)[5] } %>
                </div>
            </div>

        </div>
    </div>
    <% end %>
<% end %>