<% content_for :home do %>

    <section class="jumbotron d-flex justify-content-center align-items-center mb-0" style="height:500px;">
        <div class="container d-inline-block text-center shadow" style="width:auto;height:auto;">
            <h1 class="jumbotron-heading">The Dictionary of Falklands Biography</h1>
            <p class="jumbotron-sub-heading h3">including South Georgia</p>
        </div>
    </section>

    <div class="container-flex m-0 p-0">
        <p class="text-right small mr-2" ><a href="#" data-toggle="modal" data-target="#headerModal">IMAGE INDEX</a></p>
    </div>

    <div class="container">
        <p class="h5 text-center mt-4 mb-5">The Dictionary of Falklands Biography describes people concerned with the history of the Falkland Islands and South Georgia.</>
        <%= render partial: 'biographies/search' %>
        <hr>
    </div>

    <!-- Render featured biographies -->
    <% if Biography.where(featured: true).count >= 6  %>
    <div id="featured" class="container-md px-5">
        <p class="h4 text-center mb-5"><strong>Featured Biographies</strong></p>
        
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

            <div class="col mb-4">
                <div class="card h-100 mx-auto">
                <%= render partial: 'biographies/featured', locals: {biography: Biography.where(featured: true)[0] } %>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 mx-auto">
                <%= render partial: 'biographies/featured', locals: {biography: Biography.where(featured: true)[1] } %>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 mx-auto">
                <%= render partial: 'biographies/featured', locals: {biography: Biography.where(featured: true)[2] } %>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 mx-auto">
                    <%= render partial: 'biographies/featured', locals: {biography: Biography.where(featured: true)[3] } %>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card  h-100 mx-auto">
                    <%= render partial: 'biographies/featured', locals: {biography: Biography.where(featured: true)[4] } %>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 mx-auto">
                    <%= render partial: 'biographies/featured', locals: {biography: Biography.where(featured: true)[5] } %>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal image index -->
    <div class="modal fade" tabindex="-1" role="dialog" id="headerModal">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Image Index</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h4 class="text-center">Top Row</h4>
            <div class="row">
                <div class="col">
                    <figure class="figure text-center">
                        <a href="/biographies/middleton_sir" target="_parent">
                            <img src="images/banner/0235.jpg" alt="..." class="img-thumbnail">
                            <figcaption class="figure-caption">MIDDLETON, Sir JOHN</figcaption>
                        </a>
                    </figure>
                </div>

                <div class="col">
                    <figure class="figure text-center">
                        <a href="/biographies/bonner_john" target="_parent">
                            <img src="images/banner/0049.jpg" alt="..." class="img-thumbnail">
                            <figcaption class="figure-caption">BONNER, JOHN (Susan Bonner)</figcaption>
                        </a>
                    </figure>
                </div>

                <div class="col">
                    <figure class="figure text-center">
                        <a href="/biographies/palacios_alfredo" target="_parent">
                            <img src="images/banner/DFB-Alfredo.jpg" alt="..." class="img-thumbnail">
                            <figcaption class="figure-caption">PALACIOS, ALFREDO LORENZO</figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <figure class="figure text-center">
                        <a href="/biographies/albert_victor" target="_parent">
                            <img src="images/banner/0003.jpg" alt="..." class="img-thumbnail">
                            <figcaption class="figure-caption">ALBERT VICTOR, (Eddy)</figcaption>
                        </a>
                    </figure>
                </div>

                <div class="col">
                    <figure class="figure text-center">
                        <a href="/biographies/dean_orissa" target="_parent">
                            <img src="images/banner/0118.jpg" alt="..." class="img-thumbnail">
                            <figcaption class="figure-caption">DEAN, ORISSA CATHERINE ANNE</figcaption>
                        </a>
                    </figure>
                </div>

                <div class="col">
                    <figure class="figure text-center">
                        <a href="/biographies/sloggie_alexander" target="_parent">
                            <img src="images/banner/0316.jpg" alt="..." class="img-thumbnail">
                            <figcaption class="figure-caption">SLOGGIE, ALEXANDER (Alastair)</figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <figure class="figure text-center">
                        <a href="/biographies/parish_sir" target="_parent">
                            <img src="images/banner/0257.jpg" alt="..." class="img-thumbnail">
                            <figcaption class="figure-caption">PARISH, Sir WOODBINE</figcaption>
                        </a>
                    </figure>
                </div>

                <div class="col">
                    <figure class="figure text-center">
                        <a href="/biographies/bomford_anthony" target="_parent">
                            <img src="images/banner/0045.jpg" alt="..." class="img-thumbnail">
                            <figcaption class="figure-caption">BOMFORD, ANTHONY GERALD (Tony)</figcaption>
                        </a>
                    </figure>
                </div>
            </div>

            <h4 class="text-center">Bottom Row</h4>
            <div class="row">
                <div class="col">
                    <figure class="figure text-center">
                        <a href="/biographies/bender_christoph" target="_parent">
                            <img src="images/banner/0027.jpg" alt="..." class="img-thumbnail">
                            <figcaption class="figure-caption">BENDER, CHRISTOPH PETER</figcaption>
                        </a>
                    </figure>
                </div>

                <div class="col">
                    <figure class="figure text-center">
                        <a href="/biographies/elliot_sir" target="_parent">
                            <img src="images/banner/0127.jpg" alt="..." class="img-thumbnail">
                            <figcaption class="figure-caption">ELLIOT, Sir GERALD HENRY</figcaption>
                        </a>
                    </figure>
                </div>

                <div class="col">
                    <figure class="figure text-center">
                        <a href="/biographies/biggs_betty" target="_parent">
                            <img src="images/banner/0035.jpg" alt="..." class="img-thumbnail">
                            <figcaption class="figure-caption">BIGGS, BETTY JOSEPHINE</figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <figure class="figure text-center">
                        <a href="/biographies/adie_raymond" target="_parent">
                            <img src="images/banner/0002.jpg" alt="..." class="img-thumbnail">
                            <figcaption class="figure-caption">ADIE, RAYMOND JOHN</figcaption>
                        </a>
                    </figure>
                </div>

                <div class="col">
                    <figure class="figure text-center">
                        <a href="/biographies/bonner_john" target="_parent">
                            <img src="images/banner/0046.jpg" alt="..." class="img-thumbnail">
                            <figcaption class="figure-caption">BONNER, JOHN</figcaption>
                        </a>
                    </figure>
                </div>

                <div class="col">
                    <figure class="figure text-center">
                        <a href="/biographies/arthur_sir" target="_parent">
                            <img src="images/banner/DFB-Arthur.jpg" alt="..." class="img-thumbnail">
                            <figcaption class="figure-caption">ARTHUR, Sir (OSWALD) RAYNOR</figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <figure class="figure text-center">
                        <a href="/biographies/allardyce_sir" target="_parent">
                            <img src="images/banner/0006.jpg" alt="..." class="img-thumbnail">
                            <figcaption class="figure-caption">ALLARDYCE, Sir WILLIAM LAMOND</figcaption>
                        </a>
                    </figure>
                </div>

                <div class="col">
                    <figure class="figure text-center">
                        <a href="/biographies/wallace_stuart" target="_parent">
                            <img src="images/banner/DFB-SBW.jpg" alt="..." class="img-thumbnail">
                            <figcaption class="figure-caption">WALLACE, STUART BARRETT</figcaption>
                        </a>
                    </figure>
                </div>
            </div>         
        </div>
        </div>
        </div>
    </div>
    <!-- End Modal image index -->

    <% end %>
<% end %>