<%= simple_form_for @image, url: url, method: method do |f| %>
  <%= f.association :biography %>
  <%= f.input :title %>
  <%= f.input :caption %>
  <%= f.input :attribution %>
  <% if @image.image.exists? %>
  <%= image_tag @image.image.url(:medium) %><br/>
  <% end %>
  <%= f.input :image, as: :file %>
  <div class="form-actions">
      <%= link_to "Back", images_path, class: "btn btn-default", role:"button" %>
      <%= f.button :submit %>
  </div>
<% end %>
