<h4>
  <strong>Images</strong> <%= link_to "New", new_image_path, class: "btn btn-success btn-sm float-right", role:"button" %>
</h4>
<table id="index" class="table">
    <% if @images.each do |image| %>
    <tr>
        <td>
            <%= link_to image.title, image_path(image) %>
        </td>
        <td>
            <%= image.biography.title %>
        </td>
        <td>
            <%= image_tag image.image.url(:thumb) %>
        </td>
        <td>
            <div class="btn-group float-right">
            <%= link_to "Edit", edit_image_path(image), class: "btn btn-outline-dark btn-sm float-right", role:"button" %>
            <%= link_to "Delete", image_path(image), class: "btn btn-danger btn-sm float-right", role:"button", data: {:confirm => 'Are you sure?'}, method: :DELETE %>
            </div>
        </td>
    </tr>
    <% end.empty? %>
    <tr>
        <td>No images</td>
    </tr>
  <% end %>
</table>
