<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Dictionary of Falklands Biography", static_content_path("home"), class: "navbar-brand navbar-brand-large" %>
      <%= link_to "Falklands Biography", static_content_path("home"), class: "navbar-brand navbar-brand-medium" %>
      <%= link_to "DFB", static_content_path("home"), class: "navbar-brand navbar-brand-small" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <li><%= link_to "Home", static_content_path("home") %></li>
          <li><%= link_to "Biographies", biographies_path %></li>
          <li class="dropdown-submenu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">About<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><%= link_to "About DFB", static_content_path("about") %></li>
                    <li><%= link_to "Authors", authors_path %></li>
                    <li><%= link_to "Jane Cameron - Obituary", static_content_path("jane_cameron") %></li>
                    <li class="divider"></li>
                    <li class="dropdown-header" >Book</li>
                    <li><%= link_to "Foreword", static_content_path("book_foreword") %></li>
                    <li><%= link_to "Introduction", static_content_path("book_introduction") %></li>
                    <li><%= link_to "Acknowledgements", static_content_path("book_acknowledgements") %></li>
                    <li><%= link_to "David Tatham", static_content_path("book_david_tatham") %></li>
                    <li><%= link_to "How to buy", static_content_path("book_purchase") %></li>

                </ul>
          </li>
          <ul class="nav collapse">
                <li><%= link_to "Authors", authors_path %></li>
          </ul>
          <li><%= link_to "Contacts", static_content_path("contacts") %></li>
          <% if user_signed_in? %>
          <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><%= link_to "Biographies", biographies_path %></li>
                  <li><%= link_to "Images", images_path %></li>
                  <li><%= link_to "Reset featured", "/biographies/reset_featured" %></li>
                  <li><%= link_to "Create new page", new_static_content_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Documentation", static_content_path("docs_index") %></li>
                  <li><%= link_to "Change password", edit_user_registration_path %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
              </ul>
          </li>
          <% end %>

      </ul>



      <%= form_tag biographies_path, :method => 'get', class: "navbar-form navbar-right" do %>
      <div class="input-group">
          <%= text_field_tag 'search', params[:search], placeholder: "Search biographies", class: "form-control" %>
          <span class="input-group-btn">
              <button class="btn btn-default" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
              </button>
          </span>
      </div>
      <% end %>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<script type="text/javascript">
    $(document).ready(function () {
        var url = window.location;
        $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
        $('ul.nav a').filter(function() {
             return this.href == url;
        }).parent().addClass('active');
    });
</script>
