<header>
  <nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-top">
    <div class="container">
      <!-- Brand -->


      <a class="navbar-brand d-none d-lg-block" href="#">Dictionary of Falklands Biography</a>
      
      <a class="navbar-brand d-block d-sm-block d-lg-none" href="#">Falklands Biography</a>



      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menu -->
      <div class="collapse navbar-collapse  justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav text-uppercase">

          <!--Home-->
          <li class="nav-item"><%= link_to "Home", static_content_path("home"), class: "nav-link" %></li>

          <!--Biographies-->
          <li class="nav-item"><%= link_to "Biographies", biographies_path, class: "nav-link" %></li>
          
          <!--About Menu-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop" href="#">About</a>
            <div class="dropdown-menu shadow">
              <%= link_to "About DFB", static_content_path("about"), class:"dropdown-item" %>
              <%= link_to "The Falklands Story", static_content_path("falklands_story"), class:"dropdown-item" %>
              <%= link_to "Authors", authors_path, class:"dropdown-item" %>
              <%= link_to "Jane Cameron - Obituary", static_content_path("jane_cameron"), class:"dropdown-item" %>
              <div class="dropdown-divider"></div> 
              <h6 class="dropdown-header text-center">Book</h6>
              <%= link_to "Foreword", static_content_path("book_foreword"), class:"dropdown-item" %>
              <%= link_to "Introduction", static_content_path("book_introduction"), class:"dropdown-item" %>
              <%= link_to "Acknowledgements", static_content_path("book_acknowledgements"), class:"dropdown-item" %>
              <%= link_to "David Tatham", static_content_path("book_david_tatham"), class:"dropdown-item" %>
              <%= link_to "Reviews", static_content_path("book_reviews"), class:"dropdown-item" %>
              <%= link_to "How to buy", static_content_path("book_purchase"), class:"dropdown-item" %>
            </div>
          </li>
          
          <!--Contacts-->
          <li class="nav-item" ><%= link_to "Contacts", static_content_path("contacts"), class: "nav-link" %></li>

          <!--Admin Menu-->
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop" href="#">Admin</a>
                <div class="dropdown-menu shadow">
                    <%= link_to "Biographies", biographies_path, class:"dropdown-item" %>
                    <%= link_to "Images", images_path, class:"dropdown-item" %>
                    <%= link_to "Comments", comments_path, class:"dropdown-item" %>
                    <%= link_to "Reset featured", "/biographies/reset_featured", class:"dropdown-item" %>
                    <%= link_to "Check links", "/biographies/check_links", class:"dropdown-item" %>
                    <%= link_to "Create new page", new_static_content_path, class:"dropdown-item" %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Documentation", static_content_path("docs_index"), class:"dropdown-item" %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Change password", edit_user_registration_path, class:"dropdown-item" %>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"dropdown-item"  %>
                </div>
            </li>
          <% end %>

        </ul>
      </div>
    </div><!--container-->
  </nav> 
</header>